<!DOCTYPE html>
<html>
<head>
    <title>SignalR, KnockoutJS and SqlTableDependencly</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 20px">
        @RenderBody()        
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>